/target/classes/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-archiver/
/target/maven-status/
/target/surefire-reports/
/target/test-classes/
/target/ITS-Task-1.0-SNAPSHOT.jar.original
.idea/*
.idea/sonarlint/

